
* {
margin: 0px;
padding: 0px;
}

body {
	#font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
  #font-family: Calibri, Verdana, Helvetica, Arial;
  font-family: Trebuchet MS;
  background-color: White;
  font-size: 1.7vh;
}


li { 
  margin-left: 0em;
  font-size: 1.7vh;
  list-style-position: inside;
}


ul { 
  margin-left: 1em;
  list-style-type : square;
  padding-bottom: .5em;
}

ol { 
  margin-left: 2em;
  list-style-type : decimal; 
  padding-bottom: .5em;
}

strong {
	font-weight: bold;
	font-size: 1.7vh;
	color: Black;
}

code {
	font-size: 1.46vh;
	color: Black;
}

h3 {
font-size: 1.7vh;
font-weight: bold;
padding-top: 1em;
color: Black;
}


h2 {
font-size: 1.94vh;
font-weight: bold;
color: Black;
}

h1 {
font-size: 1.7vh;
font-weight: bold;
color: Black
}

p {
padding-bottom: .5em;
}

title {
font-size: 1.7vh;
font-weight: bold;
color: Blue
}

hr {
color: Black;
height: 0.05px;
margin-bottom: 1.58vh;
}

a, a:visited, a:hover, a:active {
color: Blue;
text-decoration: none;
}
#container {
position: absolute;
left: 46%;
top: 0px;
margin-top: 5px;
margin-bottom: 5px;
margin-left: -20%;
width: 48vw;
border-left: 2px solid Black;
border-right: 2px solid Black;
border-top: 2px solid Black;
border-bottom: 2px solid Black;
}

#content {
background: white none;
padding-left: 1%;
padding-right: 1%;
padding-top: 1%;
padding-bottom: 1%;
}

